# AWS credentials used to authenticate Bedrock API calls
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

# AWS region
AWS_REGION=

# Bedrock model id used to generate embeddings
EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
# Bedrock model id used for LLM completions
BEDROCK_MODEL_ID=amazon.nova-micro-v1:0
